.about {
    width: 90%;
    margin: auto;

    @include flexbox(center,center,column, 3em 0);

    @media screen and (min-width: 1024px) {

        @include flexbox(space-evenly,stretch,row);
    }

    &-formation {

        &-image {
            padding-bottom: 3em;
            text-align: center;
        }

        &-content {
            background : $primary;
            padding: 10px;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
        }

        @media screen and (min-width: 1024px) {
            width: 40%;
        }
    }

    &-text {
        background : $primary;
        padding: 10px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;

        @media screen and (min-width: 1024px ) {
            @include flexbox(space-evenly,flex-start,column)
        }

       

        h3 {

            margin-top: 30px;

            a {
            background: $secondary;
            padding: 5px 15px;
            border-radius: $border-radius;
            box-shadow: $box-shadow; 
            color: $primary;
        }
        } 

        @media screen and (min-width: 1024px) {
            width: 40%;
        }
    }

    h2 {
        padding-bottom: 10px;
    }

}