.home {
    height: 170vh;
    background: center bottom/cover url(../../img/background-mobile.png);
    color: $white;

    @include flexbox(flex-start,center,column, 5em 0);

  


    @media screen and (min-width: 1024px) {

        height: 80vh;

        background: center bottom/cover url(../../img/background.png);

        @include flexbox(space-evenly,flex-start,row, 0,wrap,flex-start);
        
         
    }

    &-presentation {
        width: 90%;

        h2 {
            padding-top: 30px;
        }

        p {
            text-align: justify;
            padding: 20px 0;
        }

        h3 { 
            
            margin-top: 20px;

            a {
            
            background: $secondary;
            padding: 5px 15px;
            border-radius: $border-radius;
            box-shadow: $box-shadow; 
            color: $primary;
    }
}

    @media screen and (min-width: 1024px) {
        width: 30%;
    }


    }

    &-photo {
        img {
            height: 350px;

            @media screen and (min-width: 1024px) {
                height: 500px;
            }
        }
    }

  
}
