.projets {

    
    h2 {
        text-align: center;
        margin-bottom: 10vh;
        margin-top: 20vh;
        font-size: 40px;
        color: $primary
    }

    &-container {
        @include flexbox(space-evenly, center, column, 4em 0);
        width: 100vw;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
        } 

    }

    &-cards {
        width: 300px;
        height: 200px;
        box-shadow: $box-shadow;
        border-radius: $border-radius;

        &-text {
            border-radius: 0 0 $border-radius $border-radius;
            position: relative;
            top: 75%;
            @include flexbox(space-evenly, center, row);
            padding: 10px;
            // background: rgba(31, 72, 206, 0);
            background: $primary;
  
        }
    }

    &-github {

        @include flexbox(center,center);

        width: 90%;
        margin: auto;
        font-size: 24px;
        font-weight: bold;
        padding-top: 40px;
        color: $primary;

    }
    
}

.first {
    background: center / cover url('../../img/sejour.png');
}

.second {
    background: center / cover url('../../img/monster_website.jpg');
}

.third {
    background: center / cover url('../../img/bibliotheque.png')
}



    
