.technos {

    margin-top: 20vh;

    h2 {
        text-align: center;
        margin-bottom: 10vh;
    }

    h2,h3 {
        color: $primary;
    }

    h3 {
        text-align: center;
        position: relative;
        top: 15px;
    }

    &-languages,
    &-outils {
        width: 100%;
        padding: 50px 0;

        @include flexbox(center,center,row,5em)
    }
   
    &-languages {
        background: #001f3f5e;
    }

    &-outils {
        background: #001f3f5e;
    }

    svg {

        transition: 0.5s ease-in-out;

      &:hover {
        transform: scale(2);
    }  
    }
}