.technos{
    &-title {
        height: 200px;
        width: 200px;
        border-radius: $circle;
        background: $circle-color;
        box-shadow: $shadow;
        margin-top: 5px;
        text-align: center;

        position: relative;
        left: 50px;

          @media screen and (min-width: 1200px) and (max-width: 1399px) {
            left: 100px;
            top: 10px;
          }

          @media screen and (min-width: 1400px) and (max-width: 1600px) {
            left: 200px;
            top: 15px;
          }

          @media screen and (min-width: 1600px) and (max-width: 1799px) {
            left: 300px;
            top: 20px;
          }

          @media screen and (min-width: 1800px) {
            left: 350px;
            top: 25px;
          }

        @include flexbox(center, center, column);

        h1 {
            
                background: linear-gradient(to bottom, #808182, #1f4877);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-transform: uppercase
                
        }
    }

    &-presentation {

        @include flexbox(space-evenly, center, column,3em);



        @media screen and (min-width: 628px) {
            gap: 0;
        }

        @media screen and (min-width: 1080px) {
            position: relative;
            bottom: 120px;
        }

            &-row {
                @include flexbox(center,center,row, 3em);


                &-circle {
                    border-radius: $circle;
                    background: $primary;
                    box-shadow: $shadow;
                    height: 250px;
                    width: 250px;
                    text-align: center;
                    margin: 20px;
                    font-weight: bold;
                    color: $white;

                    animation: border 1s linear infinite;


                    @include flexbox(center, center, row, 1em);

                    p {
                        font-weight: bold;
                        font-size: 24px;
                    }
                }

            }

         
    }

    .button  {
        margin-top: 20px;
        border: solid 1px $white;
    }
  
} 

.circle-hover {
    background: $circle-color;
    transition: background-color 0.5s, color 0.5s;
}

