@mixin flexbox($justify-content: flex-start, $align-items: flex-start,$flex-direction: row, $gap: 0, $flex-wrap: wrap){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    gap: $gap;
    flex-wrap: $flex-wrap;
    
}