* {
    margin: 0;
    padding: 0;
    outline: 0;
  }
  
  html,
  body {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    color: $primary;
    line-height: 28px;
    transition: 0.5s;
  }