$primary: linear-gradient(to bottom, #808182, #1F4877);
$white: #ececec;

$circle-color: #ffffffab;

$font-primary: "Lato", sans-serif;

$circle: 100%;

$button-padding: 10px 25px;

$shadow: 7px 7px 7px rgba(255, 255, 255, 0.1);

$title: 40px;
$text: 24px
