$blue: #ACCEE9;
$violet: #B996DB;
$yellow: #F3EBA2;
$green: #BBDCA1;
$grey: #CFD5DD;

$white: #dee7f1;
$black: #111212;


@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

$font-text: "Poppins", sans-serif;
$font-title: "Bebas Neue", sans-serif;

$letter-spacing-title: 1.8px;

$border-radius: 10px;

$box-shadow: 0px 12px 20px -12px rgba(0, 0, 0, 0.56),
    0px 5px 20px 0px rgba(0, 0, 0, 0.12),
    -1px 5px 0px -5px rgba(0, 0, 0, 0.2);

$box-shadow-main: 3px 1px 0px 3px rgba(0,0,0,1),
