$primary: linear-gradient(to bottom, #808182, #1F4877);
$white: #ececec;

$circle-color: #E6E6FA;

$font-primary: "Lato", sans-serif;

$circle: 100%;

$button-padding: 10px 25px;

$button-radius : 7px;

$shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

$title: 40px;
$text: 24px
