<section class="about">
<div class="about-formation">
<div class="about-formation-image">
<img src="{{ asset('/img/illustration-work.png')}}" alt="illustration montrant une personne travaillant">
</div>
<div class="about-formation-content">
<h2>FORMATIONS</h2>
<p>Je suis actuellement en formation Développeur Web et Web Mobile (DWWM), qui délivre un titre RNCP de niveau 5, équivalent à un diplôme de Bac+2</p>
</div>
</div>
<div class="about-text">
<h2>ABOUT ME</h2>
<P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi modi deserunt numquam consequuntur ducimus iure eaque! Excepturi voluptates necessitatibus magnam iste odit, quia voluptatum perferendis dolores nobis temporibus unde. Commodi!
Unde, quia libero! Odio eaque aut ipsum sunt deserunt dolorem at vitae. Tenetur eius iure velit adipisci, ex vel officia maxime minima vero laudantium nobis itaque culpa animi deserunt? Quae?
Iste provident fuga totam recusandae placeat sunt harum quam perspiciatis. Minima, sit? Voluptatem officiis atque ab odit explicabo sint dignissimos quo dolore beatae, recusandae ratione doloribus expedita suscipit sapiente excepturi.</P>
<H3><a href="">CONTACT</a></H3>
</div>
</section>