<main class="home">
<div class="circle">
<div class="circle-title">
<div class="circle-title-img">
<img src="{{ asset('./img/photoHugo.png')}}" alt="photo de Hugo Bellin">
</div>
<h1 class="circle-title-name">HUGO BELLIN</h1>
<h2 class="circle-title-job">Développeur web</h2>
</div>
</div>
</main>