<section class="home" id="home">
    <div class="home-presentation">
        <h2>DEV WEB ET WEB MOBILE</h2>
        <p>Bonjour et bienvenue, apprenez à me connaître à travers mon portfolio, où je partage mon parcours, mes
            formations et les technologies que je maîtrise. Explorez mes réalisations pour découvrir comment j'applique
            mon expertise en développement web. N'hésitez pas à me contacter pour discuter de votre projet et explorer
            ensemble les opportunités du web</p>
        <h3><a href="https://res.cloudinary.com/hhqzbbbpi/image/upload/v1717510318/msbdi1bkxai24yxqzgpc.pdf" target="_blank">TELECHARGER MON CV</a></h3>
    </div>  
        <div class="home-photo">
            {# <img src=" {{ asset('/img/photoHugo.png')}}" alt="photo hugo bellin" height="400px"> #}
            <img src="https://res.cloudinary.com/hhqzbbbpi/image/upload/v1717592141/y4cpzpvppimstqnfostt.png"
                alt="photo hugo bellin">
        </div>
</section>