{% include "base.html.twig" %}

<main class="home">
<div class="circle">
<div class="circle-title">
<div class="circle-title-img">
<img src="{{ asset('build/images/photoHugo.png') }}" alt="photo de Hugo Bellin" width="80px" height="100px">
</div>
<h1 class="circle-title-name">HUGO BELLIN</h1>
<h2 class="circle-title-job">Développeur web</h2>
</div>
<div class="circle-border"></div>
<div class="circle-text">
<p class="circle-text-description">Développeur web diplômé d’un bac +2 à la recherche d’opportunités </p>
<a href="" class="circle-text-button">En savoir plus</a>
</div>
</div>
</main>