{% extends 'base.html.twig' %}

{% block title %}
liste
{{ parent()}}
{% endblock %}


{% block body %}
<main class="list">
<section class="list-home">
<div class="list-home-row">
<div class="list-home-row-circle">
<a href="#">Qui suis-je</a>
</div>
<div class="list-home-row-circle">
<a href="#">Mes languages</a>
</div>
</div>
<div class="list-home-row">
<div class="list-home-row-circle">
<a href="#">Expèriences</a>
</div>
<div class="list-home-row-circle">
<a href="#">Contact</a>
</div>
</div>
</section>
<a href="{{ path('app.index') }}" class="button">Retour</a>
</main
{% endblock %}
