{% extends 'base.html.twig' %}

{% block title %}
liste
{{ parent()}}
{% endblock %}


{% block body %}
<main class="list-home">
<div class="list-home-row">
<div class="list-home-row-circle">
<div class="list-home-row-circle-animation"></div>
<p>Qui suis-je</p>
</div>
<div class="list-home-row-circle">
<p>Mes languages</p>
</div>
</div>
<div class="list-home-row">
<div class="list-home-row-circle">
<p>Expèriences</p>
</div>
<div class="list-home-row-circle">
<p>Contact</p>
</div>
</div>
</main>
{% endblock %}
