.list-home {

    min-height: 100vh;

    @include flexbox(space-evenly, center, column,3em);

    @media screen and (min-width: 643px) {
       gap: 0;
        
    }

    &-row {

        @include flexbox(center,center,row, 3em);

        &-circle {
        border-radius: $circle;
                background: $circle-color;
                box-shadow: $shadow;
                height: 250px;
                width: 250px;
                text-align: center;
                margin: 20px;
                font-weight: bold;
                text-transform: uppercase;

                @include flexbox(center, center, column);

                
               

            a {
                background: linear-gradient(to bottom, #808182, #1f4877);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                &:hover {
                    border-bottom: solid 2px #1f4877;
                }

            }

         
        }
       

       
    }


}

@keyframes circle{
    0%{
      transform:rotate(0deg)
                translate(-165px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-165px)
                rotate(-360deg);
    }
  }