.home {
    height: 100vh;
    @include flexbox(center, center, column);
}

.circle {

    padding: 10px;

    background-color: $circle-color;
    border-radius: $circle;
    height: 350px;
    width: 350px;

    @include flexbox(space-around, center, column);
    text-align: center;

    @media screen and (min-width: 768px) {
        height: 500px;
        width: 500px;
        
    }

    &-title {
        background: linear-gradient(to bottom, #808182, #1f4877);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

&-img {
    img {
        border-radius: $circle;
        box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
    }
}


    }

    &-text {
        background: linear-gradient(to bottom, #808182, #1f4877);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

font-weight: bold;

&-button {
    background: linear-gradient(to bottom, #808182, #1f4877);
    -webkit-text-fill-color: none;
    color: $white;
    padding: $button-padding;
    border-radius: 5px;
}

    }

    &-border {
        border-bottom:1px solid black;
    
    
    }
}
