.home {
    height: 100vh;
    @include flexbox(center, center, column);

    &-background1 {
        top: 20%;
        width: 80px;
        height: 80px;
        background: $primary;
        z-index: -1;
        border-radius: $circle;
        animation: background 7s linear infinite;

        @media screen and (min-width: 768px) {
            top: 12%;
            
        }
    }

}



.circle {

    padding: 10px;

    background-color: $circle-color;
    border-radius: $circle;
    box-shadow: $shadow;
    height: 350px;
    width: 350px;

    @include flexbox(space-around, center, column);
    text-align: center;

    @media screen and (min-width: 768px) {
        height: 500px;
        width: 500px;
        
    }

    &-title {
        background: linear-gradient(to bottom, #808182, #1f4877);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

    &-img {
    img {
        border-radius: $circle;
        box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
    }
}


    }
    
    &-border {
        width: 70%;
        border-bottom:1px solid black;
    
    
    }

    &-text {
        background: linear-gradient(to bottom, #808182, #1f4877);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

@include flexbox(center, center, column, 1.5em);

font-weight: bold;


    }


    @keyframes background {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}


