<header>
<nav class="navbar">
<div class="navbar-name">HUGO BELLIN</div>
<div class="navbar-links">
<ul>
<li><a href="#home">HOME</a></li>
<li><a href="#about">ABOUT</a></li>
<li><a href=".technos">TECHNOS</a></li>
<li><a href="">CONTACT</a></li>
</ul>
</div>
<svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" viewBox="0 0 24 24">
			<path fill="black" fill-rule="evenodd"
				d="M3.5 5a1 1 0 0 0 0 2h17a1 1 0 1 0 0-2zm-1 7a1 1 0 0 1 1-1h17a1 1 0 1 1 0 2h-17a1 1 0 0 1-1-1m0 6.001a1 1 0 0 1 1-1h17a1 1 0 1 1 0 2h-17a1 1 0 0 1-1-1"
				clip-rule="evenodd" />
		</svg>
</nav>
</header>

<script>


</script>